In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import re
import time
import math
from scipy.stats import skew

In [2]:
def give_dictionary(desc):
    #desc=df["Description"].dropna()
    desc=desc.dropna()
    parts=[]
    dicti={}
    l=len(desc)
    for index in range(l):

        try:
            parts = re.split(r"[.,\-_\+/()\[\]{}\s]+", desc.iloc[index].lower().replace("'s"," "))
        except:
            print(desc.iloc[index])
        parts = [p for p in parts if p]
        
        for p in parts:
            try:
                dicti[p]+=(1)*100/l
            except:
                dicti[p]=1*100/l
    sorted_by_keys = sorted(dicti.items(), reverse=True,key=lambda item: item[1])
    return sorted_by_keys
def give_inv_cost(series):
    split_df = series.str.split("-", n=1, expand=True)
    split_df.columns=["Invoice","Price"]
    split_df["Price"]=split_df["Price"].astype(float)

    return split_df.groupby("Invoice")["Price"].sum().mean()
def custom_function(x):
    if x < 0:
        return math.exp(x)
    else:
        return 1 - math.exp(-x)

In [3]:
df=pd.read_csv("online_retail_2.csv",header=0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [5]:
df=df[(df["Price"]>0)&(df["Quantity"]>0)]

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df["InvoiceDate"].min())
df["Timestamp"]=(df["InvoiceDate"].dt.year*360)+(df["InvoiceDate"].dt.month*30)+df["InvoiceDate"].dt.day-723600
df["Month"]=df["InvoiceDate"].dt.month

df.drop(columns=["InvoiceDate"],inplace=True)

2009-12-01 07:45:00

In [7]:
encoder1 = LabelEncoder()
df["Invoice"]=encoder1.fit_transform(df["Invoice"])
encoder2=LabelEncoder()
df["Country"]=encoder2.fit_transform(df["Country"])
encoder3=LabelEncoder()
df["Customer ID"]=encoder3.fit_transform(df["Customer ID"])
df.drop(columns=["StockCode"],inplace=True)
df["TotalStockCost"]=df["Quantity"]*df["Price"]

In [8]:
df_to_analyze1=df.copy()
df_to_analyze1["InvTCS_Combined"]=(df_to_analyze1["Invoice"].astype("str"))+"-"+(df_to_analyze1["TotalStockCost"].astype("str"))

In [9]:
df_to_analyze1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1041671 entries, 0 to 1067370
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Invoice          1041671 non-null  int64
 1   Description      1041671 non-null  object
 2   Quantity         1041671 non-null  int64
 3   Price            1041671 non-null  float64
 4   Customer ID      1041671 non-null  int64
 5   Country          1041671 non-null  int64
 6   Timestamp        1041671 non-null  int32
 7   Month            1041671 non-null  int32
 8   TotalStockCost   1041671 non-null  float64
 9   InvTCS_Combined  1041671 non-null  object
dtypes: float64(2), int32(2), int64(4), object(2)
memory usage: 79.5+ MB

In [10]:
#scaler=StandardScaler()
at=time.time()
df_to_analyze1_grouped=df_to_analyze1.groupby("Customer ID").agg({"Quantity":["sum","mean",lambda x:x.quantile(0.25),lambda x:x.quantile(0.5),
                                                                             lambda x:x.quantile(0.75)],
"Timestamp":["min",lambda x:x.quantile(0.25),lambda x:x.quantile(0.5),lambda x:x.quantile(0.75),"max",lambda x:-1*skew(x.unique())],"TotalStockCost":["sum","mean",
                                                                                                            lambda x:x.quantile(0.25),
                                                                                                            lambda x:x.quantile(0.5),
                                                                                                            lambda x:x.quantile(0.75)
                                                                                                                        ],
                                                                  "Price":["sum","mean",lambda x:x.quantile(0.25),lambda x:x.quantile(0.5),
                                                                          lambda x:x.quantile(0.75),
                                                                          ],
                                                                  "Description":lambda x:give_dictionary(x),
                                                                  "InvTCS_Combined":give_inv_cost,
                                                                  "Invoice":lambda x:len(x.unique())
}).reset_index()

print("yo")
print(time.time()-at)

yo
50.57758092880249

In [11]:
df_to_analyze1_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5879 entries, 0 to 5878
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   (Customer ID, )                   5879 non-null   int64
 1   (Quantity, sum)                   5879 non-null   int64
 2   (Quantity, mean)                  5879 non-null   float64
 3   (Quantity, <lambda_0>)            5879 non-null   float64
 4   (Quantity, <lambda_1>)            5879 non-null   float64
 5   (Quantity, <lambda_2>)            5879 non-null   float64
 6   (Timestamp, min)                  5879 non-null   int32
 7   (Timestamp, <lambda_0>)           5879 non-null   float64
 8   (Timestamp, <lambda_1>)           5879 non-null   float64
 9   (Timestamp, <lambda_2>)           5879 non-null   float64
 10  (Timestamp, max)                  5879 non-null   int32
 11  (Timestamp, <lambda_3>)           4189 non-null   float64
 12  (TotalStockCost, sum)             5879 non-null   float64
 13  (TotalStockCost, mean)            5879 non-null   float64
 14  (TotalStockCost, <lambda_0>)      5879 non-null   float64
 15  (TotalStockCost, <lambda_1>)      5879 non-null   float64
 16  (TotalStockCost, <lambda_2>)      5879 non-null   float64
 17  (Price, sum)                      5879 non-null   float64
 18  (Price, mean)                     5879 non-null   float64
 19  (Price, <lambda_0>)               5879 non-null   float64
 20  (Price, <lambda_1>)               5879 non-null   float64
 21  (Price, <lambda_2>)               5879 non-null   float64
 22  (Description, <lambda>)           5879 non-null   object
 23  (InvTCS_Combined, give_inv_cost)  5879 non-null   float64
 24  (Invoice, <lambda>)               5879 non-null   int64
dtypes: float64(19), int32(2), int64(3), object(1)
memory usage: 1.1+ MB

In [12]:
df_to_analyze1_grouped.columns=["CustomerID","Quantity_sum","Quantity_mean","Quantity_25q","Quantity_50q","Quantity_75q",
                               "Timestamp_min","Timestamp_25q","Timestamp_50q","Timestamp_75q","Timestamp_max","Timestamp_recency",
                               "TotalStockCost_sum","TotalStockCost_mean","TotalStockCost_25q","TotalStockCost_50q","TotalStockCost_75q",
                               "Price_sum","Price_mean","Price_25q","Price_50q","Price_75q",
                               "Description_keywords","AverageInvoiceCost","InvoiceCount"]

df_to_analyze1_grouped["Timestamp_diff"]=df_to_analyze1_grouped["Timestamp_max"]-df_to_analyze1_grouped["Timestamp_min"]
df_to_analyze1_grouped["Frequency"]=df_to_analyze1_grouped["InvoiceCount"]/df_to_analyze1_grouped["Timestamp_diff"]

In [13]:
df_to_analyze1_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5879 entries, 0 to 5878
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            5879 non-null   int64
 1   Quantity_sum          5879 non-null   int64
 2   Quantity_mean         5879 non-null   float64
 3   Quantity_25q          5879 non-null   float64
 4   Quantity_50q          5879 non-null   float64
 5   Quantity_75q          5879 non-null   float64
 6   Timestamp_min         5879 non-null   int32
 7   Timestamp_25q         5879 non-null   float64
 8   Timestamp_50q         5879 non-null   float64
 9   Timestamp_75q         5879 non-null   float64
 10  Timestamp_max         5879 non-null   int32
 11  Timestamp_recency     4189 non-null   float64
 12  TotalStockCost_sum    5879 non-null   float64
 13  TotalStockCost_mean   5879 non-null   float64
 14  TotalStockCost_25q    5879 non-null   float64
 15  TotalStockCost_50q    5879 non-null   float64
 16  TotalStockCost_75q    5879 non-null   float64
 17  Price_sum             5879 non-null   float64
 18  Price_mean            5879 non-null   float64
 19  Price_25q             5879 non-null   float64
 20  Price_50q             5879 non-null   float64
 21  Price_75q             5879 non-null   float64
 22  Description_keywords  5879 non-null   object
 23  AverageInvoiceCost    5879 non-null   float64
 24  InvoiceCount          5879 non-null   int64
 25  Timestamp_diff        5879 non-null   int32
 26  Frequency             5879 non-null   float64
dtypes: float64(20), int32(3), int64(3), object(1)
memory usage: 1.1+ MB

In [14]:
a1=df_to_analyze1_grouped.sort_values(by="TotalStockCost_mean",ascending=False)["CustomerID"].head(588)
a2=df_to_analyze1_grouped.sort_values(by="TotalStockCost_sum",ascending=False)["CustomerID"].head(588)
a3=a2[a2.isin(a1.values)]                                                                                               
a4=df_to_analyze1_grouped.sort_values(by="Price_mean",ascending=False)["CustomerID"].head(588)
a5=a4[a4.isin(a2.values)]
print(len(a5))

47